<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Caps-Lock = Escape</string>
			<key>Key</key>
			<string>escape_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Language:</string>
			<key>Key</key>
			<string>language_preference</string>
			<key>DefaultValue</key>
			<string>en_EN</string>
			<key>Titles</key>
			<array>
				<string>English</string>
				<string>Français</string>
				<string>简体中文</string>
				<string>繁體中文</string>
			</array>
			<key>Values</key>
			<array>
				<string>en_EN</string>
				<string>fr_FR</string>
				<string>zh_CN</string>
				<string>zh_TW</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Search engine:</string>
			<key>Key</key>
			<string>search_engine</string>
			<key>DefaultValue</key>
			<string>https://docs.python.org/3/search.html?q=</string>
			<key>Titles</key>
			<array>
				<string>Python Docs</string>
				<string>Google</string>
				<string>Duck Duck Go</string>
				<string>Bing</string>
				<string>Yahoo</string>
				<string>Baidu</string>
				<string>Sogou</string>
			</array>
			<key>Values</key>
			<array>
				<string>https://docs.python.org/3/search.html?q=</string>
				<string>https://www.google.com/search?q=</string>
				<string>https://duckduckgo.com/search?q=</string>
				<string>https://www.bing.com/search?q=</string>
				<string>https://search.yahoo.com/search?q=</string>
				<string>http://www.baidu.com/s?wd=</string>
				<string>https://www.sogou.com/web?query=</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
